{% extends "base.html" %}'
{% block css %}
  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <img src="{{url_for('static',filename='doctor1.jpg') }}"style=" width:100%;"> 
    <div style="
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3>Book Your Appointment</h3>
        <form method="POST" action="/appointment">
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="patientName" placeholder="Patient Name">
                </div>
            </div>
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="mobile" placeholder="Mobile No">
                </div>
            </div>
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="department" placeholder="Department">
                </div>
            </div>
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="description" placeholder="description">
                </div>
            </div>
            <div class="row">
                <button style="background-color: #056467; color: white;"><input type="submit" value="Book" style="background-color: #056467; color: white; border: none;"/></button>
            </div>
        </form>
    </div>
    {% if allappointment|length==0 %}
          <p style="font-size:medium; padding-left:20px;">No Records</p>
        {% else %}
            <table id="customers">
                <tr>
                    <th scope="col">Appointment id</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Department</th>
                    <th scope="col">Description</th>
                </tr>
    {% for appointments in allappointment %}
        <tr>
            <td scope="row">{{loop.index}}</td>
            <td>{{appointments.patientName}}</td>
            <td>{{appointments.mobile}}</td>
            <td>{{appointments.department}}</td>
            <td>{{appointments.description}}</td>
    {% endfor %}
    {% endif %}
        </tr>
      </table>
    

{% endblock %}