{% extends "base.html" %}
{% block css %}
  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    <img src="{{url_for('static',filename='doctor1.jpg') }}"style=" width:100%;"> 
    <div style="
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3>Add Patient</h3>
        <form method="POST" action="/patient">
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="patientName" placeholder="Patient Name">
                </div>
            </div>
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="gender" placeholder="Gender">
                </div>
            </div>
        
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="number" name="age" placeholder="Age">
                </div>
            </div>
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="text" name="address" placeholder="Address">
                </div>
            </div>
            <div class="field">
                <div style="margin-bottom: 10px;">
                    <input class="input is-large" type="number" name="mobile" placeholder="Mobile No">
                </div>
            </div>
            <div class="row">
                <button style="background-color: #056467; color: white;"><input type="submit" value="Register" style="background-color: #056467; color: white; border: none;"/></button>
            </div>
        </form>
    </div>
    <!-- {% if allpatient|length==0 %}
          <p style="font-size:medium; padding-left:20px;">No Records</p>
        {% else %}
            <table id="customers">
                <tr>
                    <th scope="col">Patient id</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile Number</th>
                </tr>
    {% for patients in allpatient %}
        <tr>
            <td scope="row">{{loop.index}}</td>
            <td>{{patients.patientName}}</td>
            <td>{{patients.gender}}</td>
            <td>{{patients.age}}</td>
            <td>{{patients.address}}</td>
            <td>{{patients.mobile}}</td>
    {% endfor %}
    {% endif %} -->
        <!-- </tr>
      </table>
     -->

{% endblock %}